@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400&family=Barlow:wght@200;300;400&family=Bellefair&display=swap');

* {
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Bellefair', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 1440px;
    margin: 0 auto;
    height: 100%;
    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        min-height: 96px;
        margin: 0 0 0 auto;
        &__logo {
            width: 48px;
            height: 48px;
            align-self: center;
            padding-left: 58px;
        }
        &__divider {
            position: absolute;
            height: 1px;
            width: 473px;
            background: #FFFFFF;
            align-self: center;
            opacity: 0.25;
            z-index: 2;
            margin-left: -545px;
        }
        &__nav {
            background: rgba(255, 255, 255, 0.04);
            backdrop-filter: blur(40.7742px);
        }
        &__items {
            display: flex;
            flex-direction: row;
            max-width: 830px;
            padding: 0 123px 0 123px;
            align-items:center;
            height: 100%;
        }
        &__item {
            display: flex;
            flex-direction: row;
            text-decoration: none;
        }
    }  
}

.active_divider {
    position: absolute;
    height: 3px;
    background-color: #FFFFFF;
    opacity: 0.5;
    bottom: 0;
    border-radius: 10px;
    &-home{
        left: 120px;
        width: 70px;
    }
    &-destination{
        left: 233px;
        width: 126px;
    }
    &-crew{
        left: 401px;
        width: 71px;
    }
    &-technology{
        left: 513px;
        width: 127px;
    }
}

.divider-hide {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.divider-show {
    visibility: visible;
    opacity: 0.5;
    transition: all 0.5s;
}

.hamburger {
    display: none;
}

.number {
    margin-right: 10px;
    font-family: 'Barlow Condensed';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #FFFFFF;
}

.title {
    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #FFFFFF;
    padding-right: 42px;
}

.subtitle {
    display: flex;
    flex-direction: row;
    padding: 76px 0 0 166.5px;
    &__number{
        font-family: 'Barlow Condensed';
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 4.725px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.25;
        margin-right: 28px;
    }
    &__text {
        font-family: 'Barlow Condensed';
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 4.725px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

@import 'blocks/home';
@import 'blocks/destination';
@import 'blocks/crew';
@import 'blocks/technology';
@import 'blocks/media';
