.crew {
    min-height: 100vh;
    padding-top: 40px;
    background: url('../image/crew/background-crew-desktop.jpg') center center/cover no-repeat;
    .container {
        .header {
            &__active {
                position: absolute;
                height: 3px;
                background-color: #FFFFFF;
                bottom: 0;
                border-radius: 10px;
                left: 401px;
                width: 73px;
            }
        } 
        .info {
            width: 82%;
            display: flex;
            margin: 0 auto;
            position: relative;
            padding: 154px 0 94px 0;
            &__divider {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: #FFFFFF;
                opacity: 0.5;
            }
            .descrp {
                width: 52%;
                &__subtitle {
                    font-family: 'Bellefair';
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 37px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    mix-blend-mode: normal;
                    opacity: 0.5;
                }
                &__title {
                    margin-top: 15px;
                    font-family: 'Bellefair';
                    font-weight: 400;
                    font-size: 56px;
                    line-height: 64px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
                &__text {
                    width: 444px;
                    margin-top: 27px;
                    font-family: 'Barlow';
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 32px;
                    color: #D0D6F9;
                }
                .point {
                    margin-top: 120px;
                    width: 132px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    &__item {
                        border-radius: 50%;
                        width: 15px;
                        height: 15px;
                        background-color: rgba($color: #FFF, $alpha: 0.17);
                        mix-blend-mode: normal;
                        cursor: pointer;
                        &:hover {
                            background-color: rgba($color: #FFF, $alpha: 0.5);
                        }
                    }
                    &-active {
                        background-color: rgba($color: #FFF, $alpha: 1);
                    }
                }
            }
            &__photo {
                position: absolute;
                right: 0;
                bottom: 0;
                display: flex;
                justify-content: right;
                align-items: end;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        } 
    }
}