.destination {
    min-height: 100vh;
    padding-top: 40px;
    background: url('/starter-code/assets/destination/background-destination-desktop.jpg') center center/cover no-repeat;
    .container {
        .header {
            &__active {
                position: absolute;
                height: 3px;
                background-color: #FFFFFF;
                bottom: 0;
                border-radius: 10px;
                left: 233px;
                width: 126px;
            }
        }  
        .all {
            max-width: 1110px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            padding: 97px 0 112px 0;
            &__img {
                width: 445px;
                height: 445px;
                align-self: center;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .descr {
                display: flex;
                flex-direction: column;
                width: 445px;
                height: 472px;
                &__title {
                    padding-top: 27px;
                    font-family: 'Bellefair';
                    font-weight: 400;
                    font-size: 100px;
                    line-height: 115px;
                    color: #FFFFFF;
                }
                &__text {
                    padding-top: 14px;
                    font-family: 'Barlow';
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 32px;
                    color: #D0D6F9;
                }
                &__divider {
                    margin-top: 54px;
                    background: #383B4B;
                    height: 1px;
                    width: 97%;
                }
            }
            .info {
                padding-top: 28px;
                display: flex;
                flex-direction: row;
                gap: 78px;
                &__title {
                    padding-bottom: 12px;
                    font-family: 'Barlow Condensed';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 2.3625px;
                    text-transform: uppercase;
                    color: #D0D6F9;
                }
                &__item {
                    font-family: 'Bellefair';
                    font-weight: 400;
                    font-size: 28px;
                    line-height: 32px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }
            .nav {
                position: relative;
                width: 289.5px;
                height: 34px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                &__item {
                    list-style-type: none;
                    cursor: pointer;
                    color: #D0D6F9;
                    font-family: 'Barlow Condensed';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 2.7px 
                }
            }
        } 
        .active_item {
            position: absolute;
            height: 3px;
            background-color: #FFFFFF;
            border-radius: 10px;
            bottom: 0;
            &-moon {
                left: 0;
                width: 40px;
            }
            &-mars{
                left: 77px;
                width: 38px;
            }
            &-europa{
                left: 150px;
                width: 60px;
            }
            &-titan{
                left: 245px;
                width: 42px;
            }
        } 
        .item-show {
            visibility: visible;
            opacity: 0.5;
            transition: all 0.5s;
        }
        .item-hide {
            visibility: hidden;
            opacity: 0;
            transition: all 0.5s;
        }
        .active_items {
            visibility: hidden;
            position: absolute;
            height: 3px;
            background-color: #FFFFFF;
            border-radius: 10px;
            bottom: 0;
            &-moon {
                left: 0;
                width: 40px;
            }
            &-mars{
                left: 77px;
                width: 38px;
            }
            &-europa{
                left: 150px;
                width: 60px;
            }
            &-titan{
                left: 245px;
                width: 42px;
            }
        } 
        .items-show {
            visibility: visible;
            transition: all 0.5s;
        }
    }
}